body {
  color: #0f0f0f;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.cell {
  background-color: rgb(224, 198, 198);
  height: 100px;
  width: 100px;
}

.goblin {
  height: auto;  
  width: 100%;
  cursor: url(c50d0e1ec42d187c72bf.png),pointer; 
}

.game-info {
  height: auto;
  width: 100%;  
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.start-btn {
  cursor: pointer;
  background-color: rgb(226, 161, 161);
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;  
  margin-bottom: 12px;
}

.start-btn:hover {
  background-color: rgb(226, 137, 137);
}


